<%= fields_for(@accnt_m) do |f| %>
  <table class="contents-top">
    <tr>  
      <th>ベンダーコード</th>
      <th><%= f.text_field :accnt_cd %></th>
    </tr>
    <tr>
      <th>ベンダー種別</th>
      <th><%= f.text_field :accnt_name %></th>
    </tr>
    <tr>
      <th>ベンダー名(英語)</th>
      <th><%= f.text_field :accnt_name_e %></th>
    </tr>
    <tr>
      <th>ベンダー名(英語)</th>
      <th><%= f.text_field :accnt_name_e %></th>
    </tr>
  </table><br>
<% end %> 