<%= search_form_for @search do |s| %>
<box>
  <table class="search">
    <tr>
        <th>ベンダーコード</th>
        <td><%= s.search_field :accnt_cd_cont %></td>
    </tr>
    <tr>
        <th>ベンダー種別</th>
        <td>
           <input type="radio" value="0" name="accnt_type_1" id="1" checked="checked"><label for="0">開発元企業</label>
            <input type="radio" value="1" name="accnt_type_1" id="2"><label for="2">仕入代理店</label>            
        </td>
    </tr>
    <tr>
        <th>ベンダー名</th>
        <td><%= s.search_field :accnt_name_cont %></td>
    </tr>
    <tr>
        <th>ベンダー名（英語）</th>
        <td><%= s.search_field :accnt_name_e_cont %></td>
    </tr>
    <tr>
        <th>担当者氏名</th>
        <td><%= s.search_field :accnt_staff_ms_staff_name_cont %></td>
    </tr>
    <tr>
        <th>担当者指名（英語）</th>
        <td><%= s.search_field :accnt_staff_ms_staff_name_e_cont %></td>
    </tr>
    <tr>
        <th>Eメールアドレス</th>
        <td><%= s.search_field :email_or_accnt_staff_ms_email_cont %></td>
    </tr>
  </table>
    <div align="center"><%= s.submit %></div>
</box>
<% end %>
<div class="sub-menu"><h1>検索結果一覧</h1></div>

<%= paginate(@accnt_ms) %>
<box>
<table border=1>
  <thead>
    <tr>
      <th>取引先コード</th>
      <th>取引先種別1</th>
      <th>取引先種別2</th>
      <th>法人個人区分</th>
      <th>取引先名</th>
      <th>取引先名英語表記</th>
      <th>国地域コード</th>
      <th>郵便番号</th>
      <th>都道府県番号</th>
      <th>市区町村</th>
      <th>町丁目</th>
      <th>ビル名部屋番号</th>
      <th>印字用表記</th>
      <th>印字用英語表記</th>
      <th>TEL</th>
      <th>Eメールアドレス</th>
      <th>FAX番号</th>
      <th>メモ</th>
      <th>登録日時</th>
      <th>登録ユーザ</th>
      <th>最終更新日時</th>
      <th>最終更新ユーザ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accnt_ms.each do |f| %>
      <tr>
        <td><%= f.accnt_cd %></td>
        <td><%= f.accnt_type_1 %></td>
        <td><%= f.accnt_type_2 %></td>
        <td><%= f.com_ind %></td>
        <td><%= f.accnt_name %></td>
        <td><%= f.accnt_name_e %></td>
        <td><%= f.country_cd %></td>
        <td><%= f.zip %></td>
        <td><%= f.prefecture_no %></td>
        <td><%= f.city %></td>
        <td><%= f.area %></td>
        <td><%= f.bld %></td>
        <td><%= f.print_address %></td>
        <td><%= f.print_address_e %></td>
        <td><%= f.tel %></td>
        <td><%= f.email %></td>
        <td><%= f.fax %></td>
        <td><%= f.memo %></td>
        <td><%= f.created_at %></td>
        <td><%= f.rgstr_usr %></td>
        <td><%= f.created_at   %></td>
        <td><%= f.lst_upd_usr %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</box>
<%= page_entries_info(@accnt_ms) %>