<%= form_for @search_form, as: 'search', url: :accnt_ms,
    html: { method: :get, class: 'search' } do |f| %>
  <table class="search">
    <tr>
        <th>ベンダーコード</th>
        <td><%= f.text_field :accnt_cd %></td>
    </tr>
    <tr>
        <th>ベンダー種別</th>
        <td>
           <input type="radio" value="0" name="accnt_type_1" id="1" checked="checked"><label for="0">開発元企業</label>
            <input type="radio" value="1" name="ccnt_type_1" id="2"><label for="2">仕入代理店</label>            
        </td>
    </tr>
    <tr>
        <th>ベンダー名</th>
        <td><%= f.text_field :accnt_name %></td>
    </tr>
    <tr>
        <th>ベンダー名（英語）</th>
        <td><%= f.text_field :accnt_name_e %></td>
    </tr>
    <tr>
        <th>担当者氏名</th>
        <td><%= f.text_field :staff_name %></td>
    </tr>
    <tr>
        <th>担当者指名（英語）</th>
        <td><%= f.text_field :staff_name_e %></td>
    </tr>
    <tr>
        <th>Eメールアドレス</th>
        <td><%= f.text_field :email %></td>
    </tr>
    <tr>
        <th>納品名</th>
        <td><%= f.text_field :product_name %></td>
    </tr>
  </table>
    <div align="center"><%= submit_tag("検索") %></div>

<% end %>