<h1 class='content-top'>ベンダー情報詳細</h1>
<table class="show" border=1>

  <tr>
  <th><strong>取引先コード:</strong></th>
  <td><%= @accnt_m.accnt_cd %></td>
  </tr>

  <tr>
  <th><strong>取引先種別1:</strong></th>
  <td><%= @accnt_m.accnt_type_1 %></td>
  </tr>

  <tr>
  <th><strong>取引先種別2:</strong></th>
  <td><%= @accnt_m.accnt_type_2 %></td>
  </tr>

  <tr>
  <th><strong>法人個人区分:</strong></th>
  <td><%= @accnt_m.com_ind %></td>
  </tr>

  <tr>
  <th><strong>取引先名:</strong></th>
  <td><%= @accnt_m.accnt_name %></td>
  </tr>

  <tr>
  <th><strong>取引先名英語表記:</strong></th>
  <td><%= @accnt_m.accnt_name_e %></td>
  </tr>

  <tr>
  <th><strong>国地域コード (FK):</strong></th>
  <td><%= @accnt_m.country_cd %></td>
  </tr>
  
</table>