<style type="text/css"></style>


<div style="height: 20px;background-color:black;">
  
</div>

<div align="center">
    <%= image_tag("logo_fbj.png") %>  
</div>

<div style="height: 10px;background-color:black;"></div>
<div style="height: 5px;background-color:#2EA7E0;"></div>

<div style="margin-left: 40px; margin-right: 40px">
      <div>
      <h1 style="font-size: 200%; margin : 30px ;">業務管理システム</h1>
      </div>
        
      <div style=" background-color:#727171; height:1px"></div>
      <br>
      
      <div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
    	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px"><%= link_to 'ベンダー情報管理', accnt_ms_path %>
        </div>
      </div>

    	<div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
    	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px"><%= link_to 'クーポン情報管理', cpn_ms_path %>
        </div>
    	</div>
    	
      <div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
    	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px"><%= link_to '製品情報管理', prd_ms_path %>
        </div>
   	  </div>

      <div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
     	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px"><%= link_to 'シリアル情報管理', serial_ms_path %>
        </div>
      </div>
    	      	  
    	<br>
      <br>
      <br>
      <以下のマスタはテストデータ投入用のため画面の編集は行っておりません>
      <table>
      <tr>
      <td><div style="width: 200px;background-color: #DCDDDD;height: 35px;margin-bottom: 5px;">
        <div style="padding-top: 15px;padding-left: 3px;font-size: 20px"><%= link_to 'システム設定R', sys_settings_path %></td>
      <td>2016/03/10追加</td>

        </div>
      </div>
      <tr>
      </table>

 
      <br>

      <div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
     	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px">発注管理</div>
    	</div>
    	
      <div style="width: 300px;background-color: #DCDDDD;height: 50px;margin-bottom: 5px;">
    	  <div style="padding-top: 15px;padding-left: 3px;font-size: 30px">在庫管理</div>
    	</div>

</div>
<!--
<div style="height: 10px;background-color:black;bottom: 0;"></div>
-->
