<%= form_for(@prd_m) do |f| %>
  <% if @prd_m.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prd_m.errors.count, "error") %> prohibited this prd_m from being saved:</h2>

      <ul>
      <% @prd_m.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<style type="text/css">
  .border{
    border-bottom:solid;
    border-width:1px;
    width:1000px;
  }
  .button{
    float:left;
    margin-left:20px;
  }
  .button-r{
    float:right;
    margin-right:20px;
  }

  .top-left{
    height:300px;
    width:300px;
    float:left;
    margin-left:5px;
  }

  .top-left-big{
    float:left;

  }
  .top-right-big{
    float:left;
  <!--
  background-color:grey;
  -->
    height:auto;
    width:320px;
    margin-left:5px;
  }
  .clear{
    clear:both;
  }

  .top-part{
    float:left;
  }
  th{
    width: 135px;
    text-align: left
  }
  select{
    max-width:175px
  }
  .p-area{
    width: 1000px;

  }
  .p-left{
    float: left;
    width: 330;
    margin-left:5px;
  } 
  .th-width{
    width:210px;
  }
</style>
<div class="p-area">
<!--
<%= render 'layouts/header' %>
-->

</div>

<!-- 基本情報　-->

<div>
<div class="p-area">
<br>
<h1>製品情報　詳細画面</h1>
  <h3>【基本情報】</h3>
  <div class="top-left-big">
    <div class="top-left">
    
      <table >
        <tr>
          <th>
            <%= f.label :サムネイル画像 %> 
          </th>
        </tr>
      </table>
      <div>
        
        <img src="<%= asset_path "images/.jpg" %>" alt="" width="300" height="130" />
      </div>
        <div class="top-part" >
          <%= f.label :'仮データ' %>
        </div>
          
          <br>
    
      <table> 
        <tr>
          <th>
            <%= f.label :在庫有無 %>
          </th>
            <td>
              <%= f.label :'仮データ' %>
            </td>
        </tr>
        
        <tr>
          <th>
            <%= f.label :在庫なしメッセージ %> 
          </th>
          <td>
            <%= f.label :'仮データ' %>  
          </td>
        </tr> 
        
        <tr>
          <th>
            <%= f.label :ベンダー名 %> 
          </th>
          <td><%= f.label :'仮データ' %></tr> 
      
        <tr>
          <th>
            <%= f.label :仕入元国属性 %>
          </th>
          <td><%= f.label :'仮データ' %></td>
        </tr>
          <tr>
              <th>
                <%= f.label :Promo %> 
              </th>
              <td><%= f.label :'仮データ' %></td>
          </tr>   
      </table>
    </div>

    <div class="p-left">
      <table>
        <tr>
          <th><%= f.label :製品番号（SKU） %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
          <th><%= f.label :販売製品名 %></th>
            <td><%= f.label :'仮データ' %></td>
          </tr>
          <tr>  
            <th style="width: 140px"><%= f.label :販売製品名（読み方） %></th>
            <td><%= f.label :'仮データ' %></td>
          </tr>
          <tr>
            <th><%= f.label :開発元SKU %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :開発元製品名 %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :製品説明 %></th>
            <td ><%= f.label :'仮データ' %></td>
        </tr> 
        <tr>
            <th><%= f.label :製品注意書き %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :製品ステータス %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :ハイブリッド用本製品 %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :製品配布方法 %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
            <th><%= f.label :DB本製品配布方法 %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
      </table>
    </div>
    <div class="clear">
    </div>

    <div class="p-left">
      <table>
        <tr>
          <th><%= f.label :他の必要な情報 %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
          <th><%= f.label :重要なお知らせ %></th>
            <td><%= f.label :'仮データ' %></td>
        </tr>
    </table>
    </div>  
  </div>


  <div class="top-right-big">
    <table>
      <tr>
          <th><%= f.label :製品情報登録日時 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :製品情報更新日時 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :製品カテゴリ %></th>
          <td><%= f.label :'仮データ' %></td>
        </tr>
        <tr>
          <th><%= f.label :対応ホストアプリ %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
      <th></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
        <th></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
        <th></th>
          <td><%= f.label :'仮データ' %></td>
        </tr>
      <tr>
          <th><%= f.label :効果・分類1 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :効果・分類2 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :効果・分類3 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :製品タイプ %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :Set %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :Academic %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :Floating %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :VLP %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :ライセンス数範囲（From） %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :サブスクリプション %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :サブスクリプション期間 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :サブスクリプション期間単位 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      </table>
  </div>
</div>
</div>
<div class="clear">
</div>
<!-- キャンペーン　-->
<div class="p-area">
  <div class="p-left">
    <h3>【キャンペーン】</h3>
    <table>
      <tr>
          <th><%= f.label :キャンペーン %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :キャンペーン開始日時 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :キャンペーン終了日時 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
    </table>
  </div>
</div>
<div class="clear">
</div>

<!-- 価格　-->
<div class="p-area">
  <div class="p-left">
    <h3>【価格】</h3>
    <table>
      <tr>
          <th><%= f.label :定価 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'仕入率（%）' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
      <tr>
          <th><%= f.label :仕入価格 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :手数料（率）FBJ %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
    </table>
  </div>

  <div class="p-left">
    <h3>【販売価格】</h3>
    <table>
      <tr>
          <th ><%= f.label :'FBJ販売価格(税込/日本円)' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th class="th-width"><%= f.label :'FBJ海外製品販売価格（税抜)' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'FBJ国内製品販売価格（税抜）' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'パッケージ運賃・調整費用' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
    </table>
  </div>
  <div class="p-left">
    <h3></h3></br></br>
    <table>
      <tr>
          <th><%= f.label :キャンペーン元製品価格 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th style="width: 170px"><%= f.label :'キャンペーン割引率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
      <tr>
        <th></br><%= submit_tag("価格変更履歴") %></th>
      </tr>
    </table>
  </div>
</div>
<div class="clear">
</div>

<!-- 代理店価格　-->
<div class="p-area">
  <div class="p-left">
    <h3>【代理店価格】</h3>
    <table>
      <tr>
          <th><%= f.label :代理店に表示 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :代理店初回取引仕切り価格 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th style="width:210px";><%= f.label :'代理店初回取引仕切り率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
      <tr>
          <th><%= f.label :代理店一般仕切り価格 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'代理店一般仕切り率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
      <tr>
          <th><%= f.label :代理店特別仕切り価格 %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'代理店特別仕切り率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
    </table>
  </div>

  <div class="p-left">
    <h3></h3></br></br>
    <table>
      <tr>
          <th ><%= f.label :'キャンペーン仕切り  割引率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
      <tr>
          <th><%= f.label :'キャンペーン仕切り 割引額' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :'キャンペーン元製品 仕切り価格' %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th style="width:210px";><%= f.label :'キャンペーン元製品  仕切り率(%)' %></th>
          <td><%= f.label :'仮データ' %>％</td>
      </tr>
    </table>
    <table>
      <tr>
          <th style="width:210px";><%= f.label :'特別仕切価格適用代理店' %></th>
          <td><%= f.label :'仮データ' %></td>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th></th>
          <td><%= f.label :'仮データ' %></td>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th></th>
          <td><%= f.label :'仮データ' %></td>
          <td><%= f.label :'仮データ' %></td>
      </tr>
    </table>
      
    </table>
  </div>
</div>
<div class="clear">
</div>

<!-- URL　-->
<div class="p-area" style="width: 1000px">
  <div class="p-left">
    <h3>【URL】</h3>
    <table >
      <tr>
        <th><%= f.label :製品情報ページ %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th style="width:170px";><%= f.label :インストール方法ページ %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :インストーラーページ %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
      <tr>
          <th><%= f.label :ダウンロードリンクURL %></th>
          <td><%= f.label :'仮データ' %></td>
      </tr>
    </table><br>
  </div>

<!-- メモ欄　-->
<div class="p-area">
  <div class="p-left">
    <table width="1100px">
      <tr>
        <th>メモ欄</th>
      <tr>
      </tr>
          <td><%= f.label :'仮データ' %></td>
      </tr>
  
    </table>
  </div>
</div>
<div class="clear">
</div>


<div class="clear">
</br><% end %>

<%= link_to '検索画面へ', prd_ms_path %>
<%= link_to '製品情報登録画面へ', new_prd_m_path %>

</div>
  
