<p id="notice"><%= notice %></p>

<h1>Listing Accnt Staff Ms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accnt_staff_ms.each do |accnt_staff_m| %>
      <tr>
        <td><%= link_to 'Show', accnt_staff_m %></td>
        <td><%= link_to 'Edit', edit_accnt_staff_m_path(accnt_staff_m) %></td>
        <td><%= link_to 'Destroy', accnt_staff_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accnt staff m', new_accnt_staff_m_path %>
