<p id="notice"><%= notice %></p>
<html>
<style type="text/css">
.area {
  /* boxレイアウトの指定 */
  display: box;
  display: -webkit-box;
  display: -moz-box;

  /* 配置したボックスを左右中央寄せにする */
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;

}
.item {

  text-align: center;
  color: #444;
  margin: 10px;
}


ul{
  margin-left:0;
  padding-left:0;
  list-style-type:none;
  width:1120px;
  border-top:1px solid #cccccc;
  border-bottom:1px solid #cccccc;
  border-left:1px solid #cccccc;
}

a.navi{
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  border-right:1px solid #cccccc;
  text-decoration:none;
  background-color:black;
  color:white;
  width:159px;
  text-align:center;
}

a.navi1{
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  border-right:1px solid #cccccc;
  text-align:left;
  text-decoration:none;
  background-color:black;
  color:white;
  width:159px;
}
a.navi1:hover{
  background-color:#0066CC;
}

p.navi{
  display:block;
  padding-top:5px;
  padding-bottom:5px;
  border-right:1px solid #cccccc;
  text-align:left;
  background-color:black;
  color:white;
  width:159px;
}

li{
  float:left;
  width:160px;
}

.table1 {
  border-collapse: collapse;
  text-align:center
}
.table1 th {
  background-color: #999999;
  color:white;
}

.table1 th{
  text-align:center;
  border:1;
  background-color: #999999;
  color:white;
}

</style>
<!--
<%= render 'layouts/header' %>

</br>
-->
<h1>クーポン　検索</h1>
<table class="table1"  border=1 align=center>
  <div class="field">
  <tr>
  <th><strong>クーポン種別</th>
    <td>
    <select name="cpn_m[cpn_discnt_type]" id="cpn_discnt_type" >
      <option value =""></option>
      <option value="1">割引額 </option>
      <option value="2">割引率</option>
    </select>
    </td>
  </tr>
  </div>
  
    <div class="filed">
  <tr>
    <th><strong>有効・無効フラグ</strong></th>
    <td>
    <select name="cpn_m[cpn_st]" id="cpn_st">
      <option value =""></option>
      <option value="1">有効</option>
      <option value="0">無効</option>
    </select>    
    </td>
  </tr>
  </div>
    <td></td>
  </tr>
  </div>

    <div class="field">
  <tr>
	<th><strong>クーポンコード</th>
    <td><%= text_field 'cpn_m','cpn_cd' %></td>
  </tr>
  </div>

    <div class="field">
  <tr>
	<th><strong>クーポンタイトル</th>
     <td><%= text_field 'cpn_m','cpn_title' %></td>
  </tr>
  </div>    <div class="field">
  <tr>
	<th><strong>クーポン対象製品SKU条件</th>
      <td><%= text_field 'cpn_m','trgt_prd_cndtn' %></td>
  </tr>
  </div>

</table>
<table class="table1" border=1>


<h2 align=center>
<INPUT type="Button" value="検索" name="searchbtn" style="WIDTH: 100px; HEIGHT: 20px">
</h2>
</table>

<h1>クーポン　結果一覧</h1>
<table class="table1" border=1>
<div class="area">
<div class="item"><%= submit_tag("エクスポート") %></div>

<div class="item"><%= submit_tag("一括更新") %></div>

<div class="item"><%= submit_tag("一括削除") %></div>
</div>
</table>
<!--
<div style=width:100%;height:100%;overflow-y:scroll;margin:0;padding:8">
-->
</br>
<table class="table1" border=1 align=center>
  <thead>
    <tr>


      <th nowrap><input type="checkbox" id="all" />全て</th>
      <th nowrap>　　　　</th>
      <th nowrap>クーポンコード</th>
      <th nowrap>クーポンタイトル</th>
      <th nowrap>有効・無効</th>
      <th nowrap>クーポンタイプ</th>      
      <!-- クーポンクラスからクーポンタイプに変更しました。 -->
      <th nowrap>有効期限開始日時</th>
      <th nowrap>有効期限終了日時</th>
      
<!--      
      <th nowrap>クーポンID</th>

      <th nowrap>クーポン値引タイプ</th>
      <th nowrap>ベンダー仕切クーポン</th>
      <th nowrap>使用回数制限</th>
      <th nowrap>割引額</th>
      <th nowrap>割引率</th>
      <th nowrap>対象製品条件</th>
      <th nowrap>対象除外製品条件</th>
-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpn_ms.each do |cpn_m| %>
      <tr>

        <td><input type="checkbox"/></td>

        <td><%= link_to '［詳細］', cpn_m %></td>
        <td><%= cpn_m.cpn_cd %></td>
        <td><%= cpn_m.cpn_title %></td>
        <td><%= cpn_m.cpn_st %></td>
        <td><%= cpn_m.cpn_cls %></td>

<!--
        <td><%= cpn_m.cpn_cls %></td>
-->
        <td><%= cpn_m.start_dt %></td>
        <td><%= cpn_m.expiration_dt %></td>
<!--
        <td><%= cpn_m.cpn_id %></td>
      


        <td><%= cpn_m.cpn_discnt_type %></td>
        <td><%= cpn_m.vndr_cpn %></td>
        <td><%= cpn_m.use_limit %></td>
        <td><%= cpn_m.dscnt_value %></td>
        <td><%= cpn_m.dscnt_rate %></td>
        <td><%= cpn_m.trgt_prd_cndtn %></td>
        <td><%= cpn_m.excld_prd_cndtn %></td>
-->
        <td><%= link_to '編集', edit_cpn_m_path(cpn_m) %></td>
        <td><%= link_to '削除', cpn_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
    <% end %>
  </tbody>
</table>
<!-- </div>
-->
<br>

<%= link_to '登録', new_cpn_m_path %>
