<p id="notice"><%= notice %></p>
<html>
<style type="text/css">


.table1{
  border-collapse: collapse; border: 1px solid black;
}

.table1 th{
  padding:0.5em; border:1px solid black; color: white; background-color:grey;

}
.table1 td{
  border:1px solid black; padding-right:20px; padding-left:20px;
}

.table2{
  border-collapse: collapse; border: 1px dotted red; table-layout: fixed; margin: 0 auto;
}

.table2 th,td{
  padding:0.5em; border:1px dotted green;
}
.table2 th{
  color: black; background-color:#E6E6FA;
}
.table2 td{
  margin: 0 auto; padding-right:20px; padding-left:20px;
}

  .border{
    margin: 0 auto; border-bottom:solid; border-width:1px; max-width:900px; color: #E6E6FA;
  }

  .body{
    width:1300px; margin: 0 auto; height: 100%;display: table;
  }

  .navigation{
    float:left; width: 200px; height: 100%; background-color: grey;display: table-cell;
  }

  .content{
    float: left; max-width: 900px; height: 100%; padding-right: 10px; padding-left:10px;display: table-cell;
  }
  html{
    height: 100%;
  }
  body{
    height: 100%;
  }

.navi-on{
  background-color: white;width: 200px;height: 30px;margin: 0 auto;text-align: center;padding-top: 10px;padding-bottom: 10px;
}

.navi-off{
  background-color:grey;width: 200px;height: 30px;margin: 0 auto;text-align: center;padding-top: 10px;padding-bottom: 10px;
}

</style>

<div class="body">
    <!-- header -->
    <%= render 'layouts/header' %>
    
    <!-- left menu -->
    <div class="navigation">

        <h3 class="navi-on"><%= link_to 'クーポン　検索/一覧', cpn_ms_path %></h3>
        <h3 class="navi-off"><%= link_to 'クーポン　登録', new_cpn_m_path %></h3>
    </div>

    <div class="content">
      <h1>クーポン　検索</h1>

      <table class="table2">
        <tr>
          <th><strong>クーポン種別</strong></th>
          <td>
          <select name="cpn_m[cpn_discnt_type]" id="cpn_discnt_type" style="width: 100%">
            <option value =""></option>
            <option value="1">割引額 </option>
            <option value="2">割引率</option>
          </select>
          </td>
        </tr>
        <tr>
              <th><strong>有効・無効フラグ</strong></th>
              <td>
              <select name="cpn_m[cpn_st]" id="cpn_st" style="width: 100%">
                <option value =""></option>
                <option value="1">有効</option>
                <option value="0">無効</option>
              </select>    
              </td>
        </tr>



        <tr>
        <th><strong>クーポンコード</th>
          <td><%= text_field 'cpn_m','cpn_cd' %></td>
        </tr>



        <tr>
        <th><strong>クーポンタイトル</th>
           <td><%= text_field 'cpn_m','cpn_title' %></td>
        </tr>
        </div>    <div class="field">
        <tr>
        <th><strong>クーポン対象製品SKU条件</th>
            <td><%= text_field 'cpn_m','trgt_prd_cndtn' %></td>
        </tr>
      </table>


      <table class="table1">
          <h2 align=center>
          <INPUT type="Button" value="検索" name="searchbtn" style="WIDTH: 100px; ">
          </h2>
      </table>

<div class="border"></br></br></div>

      <h1>クーポン　結果一覧</h1>
      <table style="align:center;margin: 0 auto;text-align: center;">
        <tr>
            <td style="align:center;float: left;border: none;"><%= submit_tag("エクスポート") %></td>
            <td style="align:center;float: left;border: none;"><%= submit_tag("一括更新") %></td>
            <td style="align:center;float: left;border: none;"><%= submit_tag("一括削除") %></td>
        </tr>
      </table>

      <!--
      <div style=width:100%;height:100%;overflow-y:scroll;margin:0;padding:8">
      -->
      </br>
      <table class="table1" border=1 align=center>
        <thead>
          <tr>


            <th nowrap><input type="checkbox" id="all" />全て</th>
            <th nowrap>　　　　</th>
            <th nowrap>クーポンコード</th>
            <th nowrap>クーポンタイトル</th>
            <th nowrap>有効・無効</th>
            <th nowrap>クーポンタイプ</th>      
            <!-- クーポンクラスからクーポンタイプに変更しました。 -->
            <th nowrap>有効期限開始日時</th>
            <th nowrap>有効期限終了日時</th>
            
      <!--      
            <th nowrap>クーポンID</th>

            <th nowrap>クーポン値引タイプ</th>
            <th nowrap>ベンダー仕切クーポン</th>
            <th nowrap>使用回数制限</th>
            <th nowrap>割引額</th>
            <th nowrap>割引率</th>
            <th nowrap>対象製品条件</th>
            <th nowrap>対象除外製品条件</th>
      -->
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @cpn_ms.each do |cpn_m| %>
            <tr>

              <td><input type="checkbox"/></td>

              <td><%= link_to '［詳細］', cpn_m %></td>
              <td><%= cpn_m.cpn_cd %></td>
              <td><%= cpn_m.cpn_title %></td>
              <td><%= cpn_m.cpn_st %></td>
              <td><%= cpn_m.cpn_cls %></td>

      <!--
              <td><%= cpn_m.cpn_cls %></td>
      -->
              <td><%= cpn_m.start_dt %></td>
              <td><%= cpn_m.expiration_dt %></td>
      <!--
              <td><%= cpn_m.cpn_id %></td>
            


              <td><%= cpn_m.cpn_discnt_type %></td>
              <td><%= cpn_m.vndr_cpn %></td>
              <td><%= cpn_m.use_limit %></td>
              <td><%= cpn_m.dscnt_value %></td>
              <td><%= cpn_m.dscnt_rate %></td>
              <td><%= cpn_m.trgt_prd_cndtn %></td>
              <td><%= cpn_m.excld_prd_cndtn %></td>
      -->
              <td><%= link_to '編集', edit_cpn_m_path(cpn_m) %></td>
              <td><%= link_to '削除', cpn_m, method: :delete, data: { confirm: 'Are you sure?' } %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- </div>
      -->
      <br>
      <%- if false -%>
        <%= link_to '登録', new_cpn_m_path %>
      <%- end -%>
    </div>
</div>