<!--
<%= render 'layouts/header' %><br>
-->
<p id="notice"><%= notice %></p>
<h1>クーポンマスタ詳細画面</h1>
<style type="text/css">
.table1 {
  border-collapse: collapse;
  text-align:center
}
.table1 th {
  background-color: #999999;
  color:white;
}

.table1 th{
 text-align:center;
  border:1;
  background-color: #999999;
  color:white;
}
</style>
<table class="table1" border=1>

  <tr>
  <th><strong>クーポンID:</strong></th>
  <td><%= @cpn_m.cpn_id %></td>
  </tr>

  <tr>
  <th><strong>クーポンコード:</strong></th>
  <td><%= @cpn_m.cpn_cd %></td>
  </tr>

  <tr>
  <th><strong>クーポン効力:</strong></th>
  <td><%= @cpn_m.cpn_st %></td>
  </tr>

  <tr>
  <th><strong>タイトル:</strong></th>
  <td><%= @cpn_m.cpn_title %></td>
  </tr>

  <tr>
  <th><strong>クーポンクラス:</strong></th>
  <td><%= @cpn_m.cpn_cls %></td>
  </tr>

  <tr>
  <th><strong>クーポン値引タイプ:</strong></th>
  <td><%= @cpn_m.cpn_discnt_type %></td>
  </tr>

  <tr>
  <th><strong>ベンダー仕切クーポン:</strong></th>
  <td><%= @cpn_m.vndr_cpn %></td>
  </tr>

  <tr>
  <th><strong>使用回数制限:</strong></th>
  <td><%= @cpn_m.use_limit %></td>
  </tr>

  <tr>
  <th><strong>有効期限開始日時:</strong></th>
  <td><%= @cpn_m.start_dt %></td>
  </tr>

  <tr>
  <th><strong>有効期限終了日時:</strong></th>
  <td><%= @cpn_m.expiration_dt %></td>
  </tr>

  <tr>
  <th><strong>割引額:</strong></th>
  <td><%= @cpn_m.dscnt_value %></td>
  </tr>

  <tr>
  <th><strong>割引率:</strong></th>
  <td><%= @cpn_m.dscnt_rate %></td>
  </tr>

  <tr>
  <th><strong>対象製品条件:</strong></th>
  <td><%= @cpn_m.trgt_prd_cndtn %></td>
  </tr>

  <tr>
  <th><strong>対象除外製品条件:</strong></th>
  <td><%= @cpn_m.excld_prd_cndtn %></td>
  </tr>
</table>

<%= link_to '編集', edit_cpn_m_path(@cpn_m) %> |
<%= link_to '戻る', cpn_ms_path %>
