
<style type="text/css">

  .navi-on{
  background-color: white;width: 200px;height: 30px;margin: 0 auto;text-align: center;padding-top: 10px;padding-bottom: 10px;
  }
  .navi-off{
    background-color:grey;width: 200px;height: 30px;margin: 0 auto;text-align: center;padding-top: 10px;padding-bottom: 10px;
  }
  .body{
    width:1300px; margin: 0 auto; height: 100%;display: table;
  }

  .navigation{
    float:left; width: 200px; min-height: 700px; background-color: grey;display: table-cell;
  }

  .content{
    float: left; min-width: 400px; height: 100%; padding-right: 10px; padding-left:10px;display: table-cell;
  }
  html{
    height: 100%;
  }
  body{
    height: 100%;
  }
</style>

<div class="body">
    <!-- header -->
    <%= render 'layouts/header' %>
    
    <!-- left menu -->
  <div class="navigation">

        <h3 class="navi-off"><%= link_to 'クーポン　検索/一覧', cpn_ms_path %></h3>
        <h3 class="navi-off"><%= link_to 'クーポン　登録', new_cpn_m_path %></h3>
        <h3 class="navi-off"><%= link_to 'クーポン　編集', edit_cpn_m_path %></h3>
        <h3 class="navi-on"><%= link_to 'クーポン　詳細', @cpn_m %></h3>
  </div>

  <div class="content">
<p id="notice"><%= notice %></p>
<h1>クーポンマスタ詳細画面</h1>
<style type="text/css">
.table2{
  border-collapse: collapse; border: 1px dotted red; table-layout: fixed;
}

.table2 th,td{
  padding:0.5em; border:1px dotted green;
}
.table2 th{
  color: black; background-color:#E6E6FA;
}
.table2 td{
  margin: 0 auto; padding-right:20px; padding-left:20px;
}
</style>
<table class="table2">

  <tr>
  <th><strong>クーポンID:</strong></th>
  <td><%= @cpn_m.cpn_id %></td>
  </tr>

  <tr>
  <th><strong>クーポンコード:</strong></th>
  <td><%= @cpn_m.cpn_cd %></td>
  </tr>

  <tr>
  <th><strong>クーポン効力:</strong></th>
  <td><%= @cpn_m.cpn_st %></td>
  </tr>

  <tr>
  <th><strong>タイトル:</strong></th>
  <td><%= @cpn_m.cpn_title %></td>
  </tr>

  <tr>
  <th><strong>クーポンクラス:</strong></th>
  <td><%= @cpn_m.cpn_cls %></td>
  </tr>

  <tr>
  <th><strong>クーポン値引タイプ:</strong></th>
  <td><%= @cpn_m.cpn_discnt_type %></td>
  </tr>

  <tr>
  <th><strong>ベンダー仕切クーポン:</strong></th>
  <td><%= @cpn_m.vndr_cpn %></td>
  </tr>

  <tr>
  <th><strong>使用回数制限:</strong></th>
  <td><%= @cpn_m.use_limit %></td>
  </tr>

  <tr>
  <th><strong>有効期限開始日時:</strong></th>
  <td><%= @cpn_m.start_dt %></td>
  </tr>

  <tr>
  <th><strong>有効期限終了日時:</strong></th>
  <td><%= @cpn_m.expiration_dt %></td>
  </tr>

  <tr>
  <th><strong>割引額:</strong></th>
  <td><%= @cpn_m.dscnt_value %></td>
  </tr>

  <tr>
  <th><strong>割引率:</strong></th>
  <td><%= @cpn_m.dscnt_rate %></td>
  </tr>

  <tr>
  <th><strong>対象製品条件:</strong></th>
  <td><%= @cpn_m.trgt_prd_cndtn %></td>
  </tr>

  <tr>
  <th><strong>対象除外製品条件:</strong></th>
  <td><%= @cpn_m.excld_prd_cndtn %></td>
  </tr>
</table>
<%- if false -%>
<%= link_to '編集', edit_cpn_m_path(@cpn_m) %> |
<%= link_to '戻る', cpn_ms_path %>
<%- end -%>