<p id="notice"><%= notice %></p>

<p>
  <strong>Cpn:</strong>
  <%= @cpn_m_sales_cntct.cpn_id %>
</p>

<p>
  <strong>Accnt cd sales cntct:</strong>
  <%= @cpn_m_sales_cntct.accnt_cd_sales_cntct %>
</p>

<p>
  <strong>Cpn m:</strong>
  <%= @cpn_m_sales_cntct.cpn_m_id %>
</p>

<%= link_to 'Edit', edit_cpn_m_sales_cntct_path(@cpn_m_sales_cntct) %> |
<%= link_to 'Back', cpn_m_sales_cntcts_path %>
