<p id="notice"><%= notice %></p>

<p>
  <strong>Cpn:</strong>
  <%= @cpn_m_total_sales_dscnt.cpn_id %>
</p>

<p>
  <strong>Sales range no:</strong>
  <%= @cpn_m_total_sales_dscnt.sales_range_no %>
</p>

<p>
  <strong>Sales range min value:</strong>
  <%= @cpn_m_total_sales_dscnt.sales_range_min_value %>
</p>

<p>
  <strong>Dscnt value:</strong>
  <%= @cpn_m_total_sales_dscnt.dscnt_value %>
</p>

<p>
  <strong>Dscnt rate:</strong>
  <%= @cpn_m_total_sales_dscnt.dscnt_rate %>
</p>

<p>
  <strong>Cpn m:</strong>
  <%= @cpn_m_total_sales_dscnt.cpn_m_id %>
</p>

<%= link_to 'Edit', edit_cpn_m_total_sales_dscnt_path(@cpn_m_total_sales_dscnt) %> |
<%= link_to 'Back', cpn_m_total_sales_dscnts_path %>
