<!DOCTYPE html>
<html>
<head>
  <title>FbjBacksystem</title>
  <%= stylesheet_link_tag    'accnt_ms', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="wrapper">
		<%= render 'header' %><br>
		<div id="container">
			<%= yield %>
		</div>
	</div>
</body>
</html>